/*
 * variables.scss
 */

// Screen sizes
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-2xl: 1536px;

// Border
$border-radius: 4px;

// Font
$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-bold: 800;

// Transition
$transition-delay: .2s;
